.friends-container {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .friend-control {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 10px;
        button {
            width: 100%;
            background-color: #6c7590;
            padding: 8px 10px;
            border: none;
            border-radius: 6px;
            color: white;
            transition: 0.5s;
            &:hover {
                background-color: #545c74;
            }
        }
    }
}