.friends-container {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.sticky-56 {
    position: sticky;
    top: 56px;
    z-index: 1020;
}