.newFeed {
    background-color: $white;
    width: 500px;
    margin: 0 auto;
    padding: 10px 10px;
    border-radius: 5px;
    transition: 1s;
    .content {
        transition: 1s;
        .grid-row {
            display: grid;
            grid-template-columns: 10% 90%;
            column-gap: 5px;
            .img {
                justify-self: center;
                height: 40px;
                width: 40px;
                @include profile-over;
                img {
                    width: 100%
                }
            }
            .flex-col {
                display: flex;
                flex-direction: column;
                row-gap: 6px;
                textarea {
                    background-color: #EAECF0;
                    border: none;
                    padding: 2px 3px;
                }
                .dropzone {
                    transition: 1s;
                    background-color: #EAECF0;
                    border: none;
                    padding: 0;
                    min-height: 100px;
                    position: relative;
                    border-radius: 5px;
                    .dz-message {
                        margin: 5px;
                        text-align: center;
                    }
                    .dz-preview {
                        background-color: #EAECF0;
                        .dz-image {
                            width: 100px;
                            height: 100px;
                            background-color: white;
                        }
                        .dz-remove {
                            font-size: 14px;
                            text-align: center;
                            display: block;
                            cursor: pointer;
                            border: none;
                            text-decoration: none;
                            color: $color-danger;
                        }
                    }
                    .dz-image-preview {
                        margin: 6px;
                    }
                }
                button {
                    transition: 1s;
                    background-color: $color-primary;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    padding: 5px 0;
                    font-size: 16;
                    i::before {
                        margin-bottom: 5px;
                        font-size: 18;
                    }
                }
            }
        }
    }
}