.button_followed {
    display: button_follow;
    width: 50%;
    border: none;
    background-color: #3b3b3b;
    color: white;
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
      }
  
  .button_follow:hover {
    background-color: #1e90ff;
    color: #867d7e;
    }
