@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import 'globals';
@import 'header';
@import 'nav';
@import 'newfeed';
@import 'feeds';
@import 'friendRecommend';
@import 'friendRequired';
@import 'contects';
.grid-content {
    margin-top: 56px;
}

.sticky-56 {
    position: sticky;
    top: 56px;
    z-index: 1020;
}

.showLike {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    .none {
        width: 100%;
        text-align: center;
        color: $text-secondary;
        font-size: 14px;
    }
    .Like {
        display: grid;
        grid-template-columns: 10% 90%;
        .img {
            @include profile-over;
            height: 30px;
            width: 30px;
            img {
                width: 100%;
            }
        }
        a {
            text-decoration: none;
            color: $color-secondary;
            text-align: left;
            transition: .5s;
        }
        &:hover {
            text-decoration-line: underline;
        }
    }
}