<div class="banlist">
    <h1>Banned List</h1>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary mb-3">Pongsagul Boonrub 6310301003@cdti.ac.th</h1></button>
            <button type="submit" class="btn btn-primary mb-3">UnBanned</button>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-3">Pongsagul Boonrub 6310301003@cdti.ac.th</h1></button>
            <button type="submit" class="btn btn-primary mb-3">UnBanned</button>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-3">Pongsagul Boonrub 6310301003@cdti.ac.th</button>
            <button type="submit" class="btn btn-primary mb-3">UnBanned</button>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-3">Pongsagul Boonrub 6310301003@cdti.ac.th</h1></button>
            <button type="submit" class="btn btn-primary mb-3">UnBanned</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary mb-3">Pongsagul Boonrub 6310301003@cdti.ac.th</h1></button>
            <button type="submit" class="btn btn-primary mb-3">UnBanned</button>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-3">Pongsagul Boonrub 6310301003@cdti.ac.th</h1></button>
            <button type="submit" class="btn btn-primary mb-3">UnBanned</button>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-3">Pongsagul Boonrub 6310301003@cdti.ac.th</button>
            <button type="submit" class="btn btn-primary mb-3">UnBanned</button>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-3">Pongsagul Boonrub 6310301003@cdti.ac.th</h1></button>
            <button type="submit" class="btn btn-primary mb-3">UnBanned</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary mb-3">Pongsagul Boonrub 6310301003@cdti.ac.th</h1></button>
            <button type="submit" class="btn btn-primary mb-3">UnBanned</button>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-3">Pongsagul Boonrub 6310301003@cdti.ac.th</h1></button>
            <button type="submit" class="btn btn-primary mb-3">UnBanned</button>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-3">Pongsagul Boonrub 6310301003@cdti.ac.th</button>
            <button type="submit" class="btn btn-primary mb-3">UnBanned</button>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-3">Pongsagul Boonrub 6310301003@cdti.ac.th</h1></button>
            <button type="submit" class="btn btn-primary mb-3">UnBanned</button>
        </div>
    </div>