<div class="banlist">
    <h1>Banned List</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Unban</th>
            </tr>
        </thead>
        <tbody id="banlists">
            <tr id="banlist_1">
                <th scope="row">6310301003@cdti.ac.th</th>
                <td>Dream</td>
                <td>
                    <div class="Unbanned">
                        <button type="submit" class="btn btn-primary mb-3">UnBanned</button>
                    </div>
                </td>
            </tr>

            <button type="submit" class="btn btn-primary mb-3" onclick="location.href='/report/'" style="background-color:#1e90ff;border-color:#1e90ff;">History report</button>
        </tbody>
    </table>
</div>