<center>
    <div class="report">
        <div class="header">
            <h1>Account ถูกระงับ</h1>
        </div>
        <div class="title">
            <p>{{session["email"]}}</p>
            <p>Banned because : เรียนเก่งเกินไป</p>
        </div>
        <div class="View">
            <div class="form">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

        </div>
        <div class="Ban">
            <br>
            <button type="submit" class="btn btn-primary mb-3"><h1>ส่งคำร้อง</h1></button>
    </div>
</center>