<div class="friendsContects">
    <div class="topic">
        CONTACTS
        <span class="badge rounded-pill " id="friendsContacts_friends_count">2</span>
    </div>
    <div class="friends" id="friendsContacts_friends">
        <!-- <div class="friend">
            <div class="profile">
                <div class="img">
                    <img class="img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                </div>
                <div class="fullname">{{ session['uName'] }}</div>
            </div>
        </div> -->
    </div>
</div>