<div class="friendsContects" id="">
    <div class="topic">
        CONTACTS
        <span class="badge rounded-pill ">2</span>
    </div>
    <div class="friends">
        <div class="friend" id="" uid="">
            <div class="profile">
                <div class="img">
                    <img class="img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                </div>
                <div class="fullname">{{ session['uName'] }}</div>
            </div>
        </div>
        <div class="friend" id="" uid="">
            <div class="profile">
                <div class="img">
                    <img class="img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                </div>
                <div class="fullname">{{ session['uName'] }}</div>
            </div>
        </div>
        <div class="friend" id="" uid="">
            <div class="profile">
                <div class="img">
                    <img class="img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                </div>
                <div class="fullname">{{ session['uName'] }}</div>
            </div>
        </div>
        <div class="friend" id="" uid="">
            <div class="profile">
                <div class="img">
                    <img class="img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                </div>
                <div class="fullname">{{ session['uName'] }}</div>
            </div>
        </div>
        <div class="friend" id="" uid="">
            <div class="profile">
                <div class="img">
                    <img class="img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                </div>
                <div class="fullname">{{ session['uName'] }}</div>
            </div>
        </div>
        <div class="friend" id="" uid="">
            <div class="profile">
                <div class="img">
                    <img class="img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                </div>
                <div class="fullname">{{ session['uName'] }}</div>
            </div>
        </div>
        <div class="friend" id="" uid="">
            <div class="profile">
                <div class="img">
                    <img class="img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                </div>
                <div class="fullname">{{ session['uName'] }}</div>
            </div>
        </div>

    </div>
</div>