<div class="feeds" id="feeds">
    <!-- <div id="feed_id_2" class="feed">
        <div class="feedHead ">
            <div class="img">
                <img class="img" src="/api/profile?file=profile/131447f3-7900-4968-8217-0674e7171569.jpg" alt="">
            </div>
            <div class="text">
                <div class="name">
                    Pongthep Nuchwet
                </div>
                <div class="dateTime">
                    Today at 14:57
                </div>
            </div>
            <div class="action">
                <button class="feed-action"><i class="bi bi-three-dots"></i></button>
            </div>
        </div>
        <div class="feedContent ">เรียน</div>
        <div class="feedImg">
            <div id="feed_2_image" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/api/image?file=feeds/a5e1cb99-77d6-4503-94b8-0e3f94d74c5e.png" class="d-block w-100 animate__animated animate__fadeIn" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#feed_2_image" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
                <button class="carousel-control-next" type="button" data-bs-target="#feed_2_image" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
            </div>
        </div>
        <div class="feedCount">
            <span class="love-count" id="feed_2_count_love">0 likes</span>
            <span class="comment-count" id="feed_2_count_comment">0 comments</span>
        </div>
        <div class="feedAction">
            <div>
                <button onclick="love(2);" class="" id="feed_2_btn_love"><i class="bi bi-heart"></i> I love it</button>
            </div>
            <div>
                <button onclick="unShowFooter(2);" id="feed_2_btn_showFooter"><i class="bi bi-chat"></i> comment</button>
            </div>
        </div>
        <div class="footer d-block" id="feed_2_footer">
            <div class="feedComments " id="feed_2_coments"></div>
            <div class="more-comment"><button onclick="more_comment(2)">View more comment</button></div>
            <div class="comment ">
                <div class="img">
                    <img class="img" src="/api/profile?file=profile/131447f3-7900-4968-8217-0674e7171569.jpg" alt="">
                </div>
                <div class="user-input-comment">
                    <textarea name="feed_2_inputComment" class="" id="feed_2_inputComment" placeholder="Write a comment..."></textarea>
                </div>
                <div class="action">
                    <button class="feed-action" onclick="Comment(2);">Submit</button>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="feed-option">
        <button onclick="report('1');">Report</button>
        <button onclick="feed_delete('1');">Delete</button>
    </div> -->
</div>