<div class="friendsRecommend">
    <div class="topic">
        People You May Know
        <span class="badge rounded-pill ">2</span>
    </div>
    <div class="friends" id="friendsRecommend_friends">
        <div class="friend" id="FriendRecommend" uid="">
            <div class="profile">
                <div class="img">
                    <img class="img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                </div>
                <div class="fullname">{{ session['uName'] }}
                    <span>Recommend friends for you</span>
                </div>
            </div>
            <div class="action">
                <button id="newFriend" class="action-add">Add Friend</button>
                <button id="newFriend" class="action-remove">Remove</button>
            </div>

        </div>
        <div class="friend" id="FriendRecommend" uid="">
            <div class="profile">
                <div class="img">
                    <img class="img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                </div>
                <div class="fullname">{{ session['uName'] }}
                    <span>Recommend friends for you</span>
                </div>
            </div>
            <div class="action">
                <button id="newFriend" class="action-add">Add Friend</button>
                <button id="newFriend" class="action-remove">Remove</button>
            </div>

        </div>

    </div>

</div>