<div class="friend-suggestions " id="friend-suggestions">
    <div class="friends" id="friends-suggestions">
        <!-- <div id="FriendRecommend_4" class="friend animate__animated animate__fadeIn">
            <div class="profile">
                <div class="img">
                    <img class="img" src="https://firebasestorage.googleapis.com/v0/b/cdti-community.appspot.com/o/profile%2F0686e261-e406-4062-b189-f95cef5fe6fa.jpg?alt=media" alt="">
                </div>
                <div class="fullname">test4@gmail.com
                    <span>Recommend friends for you</span>
                </div>
            </div>
            <div class="action">
                <button id="newFriend" onclick="followInFeed('4');" class="action-add">Follow</button>
                <button id="newFriend" onclick="removeFollowInFeed('4');" class="action-remove">Remove</button>
            </div>
        </div>
        <div id="FriendRecommend_4" class="friend animate__animated animate__fadeIn">
            <div class="profile">
                <div class="img">
                    <img class="img" src="https://firebasestorage.googleapis.com/v0/b/cdti-community.appspot.com/o/profile%2F0686e261-e406-4062-b189-f95cef5fe6fa.jpg?alt=media" alt="">
                </div>
                <div class="fullname">test4@gmail.com
                    <span>Recommend friends for you</span>
                </div>
            </div>
            <div class="action">
                <button id="newFriend" onclick="followInFeed('4');" class="action-add">Follow</button>
                <button id="newFriend" onclick="removeFollowInFeed('4');" class="action-remove">Remove</button>
            </div>
        </div>
        <div id="FriendRecommend_4" class="friend animate__animated animate__fadeIn">
            <div class="profile">
                <div class="img">
                    <img class="img" src="https://firebasestorage.googleapis.com/v0/b/cdti-community.appspot.com/o/profile%2F0686e261-e406-4062-b189-f95cef5fe6fa.jpg?alt=media" alt="">
                </div>
                <div class="fullname">test4@gmail.com
                    <span>Recommend friends for you</span>
                </div>
            </div>
            <div class="action">
                <button id="newFriend" onclick="followInFeed('4');" class="action-add">Follow</button>
                <button id="newFriend" onclick="removeFollowInFeed('4');" class="action-remove">Remove</button>
            </div>
        </div> -->
    </div>

</div>