<div class="History_report">
    <div class="cloum">
        <h1>Report History</h1>
    </div>
    <div class="namelist">
        <br>
        <div class="name1">
            <div class="row">
                <div class="col-8">
                    Pongsagul Boonrub 6310301003@cdti.ac.th
                </div>
                <div class="col-4 ">
                    <i class="bi bi-archive"></i><i class="bi bi-trash"></i> 04/10/56
                </div>
            </div>
        </div>
        <div class="name2">
            <div class="row">
                <div class="col-8">
                    Pongsagul Boonrub 6310301003@cdti.ac.th
                </div>
                <div class="col-4 ">
                    <i class="bi bi-archive"></i><i class="bi bi-trash"></i> 04/10/56
                </div>
            </div>
        </div>
        <div class="name3">
            <div class="row">
                <div class="col-8">
                    Pongsagul Boonrub 6310301003@cdti.ac.th
                </div>
                <div class="col-4 ">
                    <i class="bi bi-archive"></i><i class="bi bi-trash"></i> 04/10/56
                </div>
            </div>
        </div>
    </div>
</div>