<br><br><br><br><br><h1>Report History</h1>
<div class="newFeed" id="newFeed" class="animate__animated animate__bounce animate__delay-2s">
    <div class="content">
        <div class="grid-row">
            <div class="img">
                <img src="/api/profile?file={{session['uProfile']}}" width="100px" alt="">
            </div>
            <div class="flex-col">
                <textarea name="newFeed-content" class="" id="newFeed-content" placeholder="What’s new, {{ session['uName'] }}?"></textarea>
                <div class="dropzone d-none animate__animated animate__fadeIn animate__fast" id="myDropzone"></div>
                <button id="newFeed-upload-btn" class="d-none animate__animated animate__fadeIn animate__fast"><i class="bi bi-link-45deg"></i> Post It.</button>
            </div>
        </div>
    </div>
</div>