<div class="History_report">
    <div class="cloum">
        <h1>Report History</h1>
    </div>
    <div class="cloum1">
        <button type="submit" class="btn btn-primary mb-3" onclick="location.href='/banlist/'" style="background-color:#1e90ff;border-color:#1e90ff;">Banned list</button>
    </div>
    <div class="h-reports" id="h-reports">
        <!-- <button class="h-report active">
                <div class="row">
                    <div class="col-8" id="">
                        Pongsagul Boonrub 6310301003@cdti.ac.th
                    </div>
                    <div class="col-4 ">
                        04/10/56
                    </div>
                </div>
            </button>
            <button class="h-report active">
                <div class="row">
                    <div class="col-8" id="">
                        Pongsagul Boonrub 6310301003@cdti.ac.th
                    </div>
                    <div class="col-4 ">
                        04/10/56
                    </div>
                </div>
            </button>
            <button class="h-report">
                <div class="row">
                    <div class="col-8" id="">
                        Pongsagul Boonrub 6310301003@cdti.ac.th
                    </div>
                    <div class="col-4 ">
                        04/10/56
                    </div>
                </div>
            </button>
            <button class="h-report">
                <div class="row">
                    <div class="col-8" id="">
                        Pongsagul Boonrub 6310301003@cdti.ac.th
                    </div>
                    <div class="col-4 ">
                        04/10/56
                    </div>
                </div>
            </button> -->
    </div>
    <!-- <div class="cloum1">
        <button type="submit" class="btn btn-primary mb-3" onclick="location.href='http://127.0.0.1:5000/banlist/'">Banned list</button>
    </div> -->
</div>