<div class="nav ">
    <div class="profile">
        <div class="img">
            <img class="img" src="{{session['uProfile']}}" alt="">
        </div>
        <div class="text">
            <div class="name">
                <a href="/profile/{{ session['uId'] }}" class="fullname">{{ session['uName'] }}</a>
            </div>
            <div class="email">
                {{ session['email'] }}
            </div>
        </div>
    </div>
    <nav>
        {% if request.endpoint == 'feeds.home'%}
        <div class="nav-list action">
            {% else %}
            <div class="nav-list">
                {% endif %}
                <a href="/feeds"><i class="bi bi-card-heading"></i> News feed</a>
            </div>
            {% if request.endpoint == 'friends.search'%}
            <div class="nav-list action">
                {% else %}
                <div class="nav-list ">
                    {% endif %}
                    <a href="/friends/"><i class="bi bi-people-fill"></i> Friends</a>
                </div>
                {% if request.endpoint in ['profile.home','profile.follower','profile.following']%}
                <div class="nav-list action">
                    {% else %}
                    <div class="nav-list ">
                        {% endif %}
                        <a href="/profile/{{ session['uId'] }}"><i class="bi bi-person-lines-fill"></i> profile</a>
                    </div>
                    <div class="nav-list logout">
                        <a href="{{ url_for('auth.logout')}}"><i class="bi bi-door-open"></i> logout</a>
                    </div>
    </nav>
    </div>