<div class="newFeed">
    <div class="content">
        <div class="grid-row">
            <div class="img">
                <img src="https://www.w3schools.com/howto/img_avatar.png" width="100px" alt="">
            </div>
            <div class="flex-col">
                <textarea name="newFeed-content" class="" id="newFeed-content"></textarea>
                <div class="input-file">
                    <div class="dropzone" id="myDropzone"></div>
                </div>
                <button id="upload-btn"><i class="bi bi-link-45deg"></i> Post It.</button>
            </div>
        </div>
    </div>
</div>