<div class="newFeed animate__animated animate__bounce animate__delay-2s" id="newFeed">
    <div class="content">
        <div class="grid-row">
            <div class="img">
                <img src="{{session['uProfile']}}" alt="">
            </div>
            <div class="flex-col">
                <textarea name="newFeed-content" class="" id="newFeed-content" placeholder="What’s new, {{ session['uName'] }}?"></textarea>
                <div class="dropzone d-none animate__animated animate__fadeIn animate__fast" id="myDropzone"></div>
                <button id="newFeed-upload-btn" class="d-none animate__animated animate__fadeIn animate__fast"><i class="bi bi-link-45deg"></i> Post It.</button>
            </div>
        </div>
    </div>
</div>