<style>
    .block {
  display: block;
  width: 100%;
  border: none;
  background-color: #1e90ff;
  color: white;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
    }

    .block:hover {
  background-color: #5bc7ed;
  color: #867d7e;
    }
</style>

<div class="row">
    <div class="col">
        <button type="button" class="block">Post</button>
    </div>
    <div class="col">
        <button type="button" class="block">Follower</button>
    </div>
    <div class="col">
        <button type="button" class="block">Following</button>
    </div>
</div>