<div class="box">
    <div class="row">
        <div class="col">
            <br>
            <br>
            <br>
            <h1> Name </h1>
            <h4> Email </h4>
        </div>
        <div class="col"></div>
        <div class="col">
            <img src="https://scontent.fbkk12-1.fna.fbcdn.net/v/t39.30808-1/274861465_2724924224320174_725056012827425248_n.jpg?stp=dst-jpg_p240x240&_nc_cat=101&ccb=1-5&_nc_sid=7206a8&_nc_eui2=AeEqBzmN4f4_1Z2xsC8Gz9r1lgA6k2wGdTeWADqTbAZ1NwI0FxPq6bDhs6deBfvU0Me92xrPs8JO1G8wtTPWur4U&_nc_ohc=5eudjxOgFM8AX_JLyfH&tn=-qXd8PAahMxSFfVi&_nc_ht=scontent.fbkk12-1.fna&oh=00_AT-ojwbZKqyY8CN8QTGmIApKuK22pjU7vJqiwaVfnXIPBg&oe=6230A788" 
            style="width: auto; height: 95%; float: right; border-radius: 10px;" >
        </div>
    </div>
</div>

<div class="row mt-1">
    <div class="col">
        <button onclick="document.location='/profile'" 
        type="button" class="block">Post</button>
    </div>
    <div class="col">
        <button type="button" onclick="document.location='/profile/follower'"
        class="block">Follower</button>
    </div>
    <div class="col">
        <button type="button" onclick="document.location='/profile/following'"
        class="block">Following</button>
    </div>
</div>