<div class="box">
    <div class="detail">
        <h1>Name :<span id="name"></span> </h1>
        <h4>Email :<span id="email"></span></h4>
    </div>

    <div class="image">
        <img id="image" src="">
    </div>

</div>


<div class="row mt-1 m-0 gap-2">
    <div class="col p-0">
        <button onclick="document.location='/profile'" type="button" class="block">Post</button>
    </div>
    <div class="col p-0">
        <button type="button" onclick="document.location='/profile/follower'" class="block">Follower</button>
    </div>
    <div class="col p-0">
        <button type="button" onclick="document.location='/profile/following'" class="block">Following</button>
    </div>
</div>