<div class="report">
    <div class="header">
        <h1>CDTI account report</h1>
    </div>
    <div class="title">
        บัญชีรายงาน : 6310301004@cdti.ac.th
        <br>รายงานปัญหา : มีการโพสข้อความที่เป็นเท็จก่อให้เกิดความขัดแย้งกัน
        <br> 04/10/56 20:36
    </div>
    <div class="View">
        <a href="View post">
            <h1>View post</h1>
        </a>
        <div class="title">
            โปรดใส่ข้อความเพื่อแจ้งเตือนในการระงับบัญชี
        </div>
    </div>
    <div class="Ban">
        <a href="Ban">
            <h1>Ban</h1>
        </a>
    </div>


</div>