<div class="report">
    <div class="header">
        <h1>CDTI account report</h1>
    </div>
        <div class="title">
            บัญชีรายงาน : 6310301004@cdti.ac.th
          <!-- <div class="box"> -->
            <br>รายงานปัญหา : มีการโพสข้อความที่เป็นเท็จก่อให้เกิดความขัดแย้งกันทำให้มิกและกานตีกันอย่างเมามันในแชท
            จึงทำให้เกิดการทะเลาะวิวาทกันในชั่วข้ามคืน จึงทำให้ผมไม่พอใจขอให้แอดมินแบนมันด้วยเถิด
          </div>
            <br> 04/10/56 20:36
        <!-- </div> -->
    <div class="View">
            <button type="submit" class="btn btn-primary mb-3" onclick="location.href='http://127.0.0.1:5000/feeds/'"><h1>View post</h1></button> 
        </a>
        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
    </div>
    <div class="Ban">
            <br><button type="submit" class="btn btn-primary mb-3"><h1>Ban</h1></button> 
        </a>
    </div>
</div>