<div class="friendsRequired">
    <div class="topic">
        Required
        <span class="badge rounded-pill " id="friendsRequired_friends_count">2</span>
    </div>
    <div class="friends" id="friendsRequired_friends">
        <!-- <div class="friend">
            <div class="profile">
                <div class="img">
                    <img class="img" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                </div>
                <div class="fullname">{{ session['uName'] }}
                    <span>Required friends for you</span>
                </div>
            </div>
            <div class="action">
                <button id="" class="action-add">Accept</button>
                <button id="" class="action-remove">Decline</button>
            </div>
        </div> -->

    </div>
</div>