<div class="friend-search d-none" id="friend-search">
    <div class="search">
        <div class="search_content">
            <input type="search" class="form-control" placeholder="Search" id="friend-search-input">
            <button class="" id="friend-search-btn">Search</button>
        </div>
    </div>
    <div class="friends" id="friend-search-friends">
        <!-- <div id="" class="friend animate__animated animate__fadeIn">
            <div class="profile">
                <div class="img">
                    <img class="img" src="https://firebasestorage.googleapis.com/v0/b/cdti-community.appspot.com/o/profile%2F69449f4e-e2d3-46df-b359-44032b59e409.jpg?alt=media" alt="">
                </div>
                <div class="fullname">
                    <a href="/profile/1" target=”_blank”>test2@gmail.com</a>
                </div>
                <div class="action">
                    <button id="newFriend" onclick="followInFeed('2');" class="action-add">Follow</button>
                </div>
            </div>
        </div>
        <div id="" class="friend animate__animated animate__fadeIn">
            <div class="profile">
                <div class="img">
                    <img class="img" src="https://firebasestorage.googleapis.com/v0/b/cdti-community.appspot.com/o/profile%2F69449f4e-e2d3-46df-b359-44032b59e409.jpg?alt=media" alt="">
                </div>
                <div class="fullname">
                    <a href="/profile/1" target=”_blank”>test2@gmail.com</a>
                </div>
                <div class="action">
                    <button id="newFriend" onclick="followInFeed('2');" class="action-add">Follow</button>
                </div>
            </div>
        </div> -->
    </div>
</div>