@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
body {
  font-family: "Mitr", sans-serif;
  background-color: #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  background-color: #ffffff;
  height: auto;
  border-bottom: 1px solid #DCE1EA;
  padding: 3px 10px;
}

header .header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-flex .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  color: #00BFFF;
  font-size: 25px;
  font-weight: 500;
}

header .header-flex .logo img {
  height: 30px;
}

header .header-flex .search .input-group {
  background-color: #EAECF0;
  border-radius: 5px;
}

header .header-flex .search .input-group .input-group-text {
  padding: .375rem 0.5rem;
  border: none;
}

header .header-flex .search .input-group .input-group-text i::before {
  margin-bottom: 4px;
  color: #B1BBD0;
}

header .header-flex .search .input-group input {
  background-color: #EAECF0;
  border: none;
  padding-left: 0;
  color: #3D3D3D;
}

header .header-flex .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

header .header-flex .profile .img {
  border-radius: 20%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #B1BBD0;
  height: 30px;
  width: 30px;
}

header .header-flex .profile .img img {
  width: 100%;
}

header .header-flex .profile .img img {
  width: 100%;
}

header .header-flex .profile button {
  position: relative;
  padding-right: 0;
  margin-right: 10px;
}

header .header-flex .profile button i::before {
  margin-bottom: 2px;
  color: #B1BBD0;
}

header .header-flex .profile button span {
  font-weight: 400;
  font-size: 12px;
}

.nav .profile {
  width: 100%;
  margin-bottom: 15px;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.nav .profile .img {
  height: 50px;
  width: 50px;
  border-radius: 20%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #B1BBD0;
}

.nav .profile .img img {
  width: 100%;
}

.nav .profile .img img {
  width: 100%;
}

.nav .profile .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav .profile .text .name {
  color: #00BFFF;
  font-size: 20px;
}

.nav .profile .text .email {
  color: #3D3D3D;
  font-size: 14px;
}

.nav nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px 0;
}

.nav nav .nav-list {
  padding: 12px 20px;
  background-color: #ffffff;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom: 1px solid #EDEDED;
}

.nav nav .nav-list:hover {
  background-color: #EDEDED;
}

.nav nav .nav-list a {
  text-decoration: none;
  font-size: 20px;
  color: #3D3D3D;
  font-weight: 500;
}

.nav nav .nav-list a svg {
  color: #857E7E;
  font-size: 20px;
  margin-bottom: 5px;
}

.nav nav .nav-list a i::before {
  color: #857E7E;
  font-size: 20px;
  margin-bottom: 5px;
}

.nav nav .logout a {
  color: #FF553E;
}

.nav nav .logout a i::before {
  color: #FF553E;
}

.nav nav .action {
  border-left: #00BFFF 5px solid;
  background-color: #EDEDED;
}

.nav nav .action a {
  color: #00BDEF;
}

.nav nav .action a i::before {
  color: #00BDEF;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #1e90ff;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #5bc7ed;
  color: black;
}

.grid-content {
  margin-top: 56px;
}

.sticky-56 {
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
  z-index: 1020;
}
